Revision: {{ revision_data.rev.id }}

{% if revision_data.nvr %}
    {# Checking for none as nvr was only added recently #}
Kernel NVR: {{ revision_data.nvr }}
{% endif %}
{% if revision_data.rev.git_repository_url %}
Kernel repo: {{ revision_data.rev.git_repository_url }}
{% endif %}
{% if revision_data.rev.git_repository_branch %}
Branch: {{ revision_data.rev.git_repository_branch }}
{% endif %}
{% if revision_data.rev.git_commit_hash %}
Commit: {{ revision_data.rev.git_commit_hash }}
{% endif %}
