{% if revision_data.rev.log_url %}
Merge log:
    {{ revision_data.mergelog|indent(4) }}
{% endif %}
{% if revision_data.issues %}
Known merge issues:
{% for issue in revision_data.issues %}
    {{ issue.description }}
    {% if issue.ticket_url %}
    Ticket URL: {{ issue.ticket_url }}
    {% endif %}

{% endfor %}
{% endif %}
