Overall result: {{ revision_data.result|yesno('PASSED,FAILED') }}
         Merge: {{ revision_data.rev.valid|yesno('OK,FAILED') }}
{% if build_data.builds %}
       Compile: {{ build_data.unknown_issues_builds|yesno('FAILED,OK') }}
{% endif %}
{% if test_data.tests %}
          Test: {{ test_data.unknown_issues_tests|yesno('FAILED,OK') }}
{% endif %}
