{% if not revision_data.rev.valid %}
{{ inc('merge_fail_summary') }}
{% endif %}
{% if build_data.builds and build_data.failed_builds %}
{{ inc('builds_fail_summary') }}
{% endif %}
{% if test_data.tests and test_data.failed_tests %}
{{ inc('tests_fail_summary') }}
{% endif %}
