{% macro inc(partial) %}
    {# While not having to write the whole path is nice, the main purpose of
       this macro is to be able to apply indent on imports #}
    {% set partial = 'partials/' + partial + '.j2' %}
    {% include partial %}
{% endmacro %}
{% block head %}
Hi, we tested your {{ revision_data.rev.patch_mboxes|yesno('patches,kernel') }} and here are the results:

    {{ inc('result')|indent(4) }}
{% if revision_data.result %}
Tested-by: CKI Project <cki-project@redhat.com>
{% endif %}
{% endblock %}
{% block cki_logo %}
Please reply to this email if you have any questions about the tests that we
ran or if you have any suggestions on how to make future tests more effective.

        ,-.   ,-.
       ( C ) ( K )  Continuous
        `-',-.`-'   Kernel
          ( I )     Integration
           `-'
______________________________________________________________________________
{% endblock %}
{% block body %}
{% endblock %}
