{% extends "base.j2" %}

{% block head %}
{{ super() }}
{{ inc('summary') }}
You can find all the details about the test run at
    {{ dw_url }}/kcidb/revisions/{{ revision_data.rev.misc.iid }}

If you find a failure unrelated to your changes, please tag it at {{ dw_url }} .
This will prevent the failures from being incorrectly reported in the future.

{% endblock %}
